spring:
  application:
    name: sns-x
  datasource:
    url: jdbc:h2:mem:snsx
    driver-class-name: org.h2.Driver
    username: sa
    password: null
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
server:
  servlet:
    session:
      timeout: 30m
      cookie:
        http-only: true
        same-site: lax
