spring:
  application:
    name: sns-x

  # H2 Database
  datasource:
    url: jdbc:h2:mem:snsx
    driver-class-name: org.h2.Driver
    username: sa
    password:

  # JPA
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

  # H2 Console
  h2:
    console:
      enabled: true
      path: /h2-console
